body{
  min-height: 70vh;

}
nav{
  background-color: rgb(255, 255, 255);
  border-bottom-color:rgb(0, 0, 0);
  border-width:0.5px;
  box-shadow: 3px 3px 5px rgba(155, 155, 155, 0.5);
  position: fixed;
  top:0;
  right:0;
  left:0;
  z-index: 100;
}
nav ul {
  width :100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;


}
nav li{
  height: 50px;
}
nav a{
  height : 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items :center;
  color:rgb(0, 0, 0);
}
nav a:hover{
  opacity:0.6
}

nav li:first-child{
  margin-right: auto;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(13px);
  box-shadow: -10px 0 10px rgba(155, 155, 155, 0.5);
  display: none;
  flex-direction: column;
  align-items: flex start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;

}
.sidebar a {
  width: 100;
  color:rgb(255, 255, 255);
}
.menu-button{
  display: none;
}

@media screen and (max-width: 768px){
  nav{
    width:100%;
  }
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media (max-width: 400px){
  nav{
    width:100%;
  }
  .sidebar{
    width:  100%;
  }
}
@media screen and (max-width:600px){
  nav{
    width:100%;
  }
  div ol li::before{
    font-size: 1.2em;
  }
}

